<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <!-- WebPage Title & Favicon Implementation -->
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/bikeTire.jpeg">

    <!-- Style Sheet Implementation -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>

    <!-- Navigation Bar to different Pages -->
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!-- JavaScript file inclution -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/gradeCalculator.js"></script>

</body>
</html>
