@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Meet Matthias!";
}


<!-- Web Page Title (Preferred Name), Picture of Me Rock Climbing, and What I Hope to Get out of IS 413 -->
<h1>Matthias Hulme</h1>
<img id="picOfMe" src="img/IMG_0020.jpeg" />
<p>
    With the different computer programming classes that I've taken in Information Systems and Computer Science, I've grown to love technology and its many capabilities.
    As I've been on the hunt for what I want to do with my life, software development on either the back end or front end, data engineering, and many other topics have caught my interest.
    Web development is another thing that I've considered. Because C# with ASP.Net is a strong web development language, I hope to grow a better love for web development and to potentially
    make a career out of it if I decide that's the best thing for me.
</p>
<br />

<!-- List of Top 3 Job Considerations After Graduation -->
<h3>My Top 3 Job Considerations After Graduation:</h3>
<ul>
    <li>Data Engineering</li>
    <li>Software Developer</li>
    <li>Cyber Defense Analyst</li>
</ul>